<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>

    <span style="font-family:Arial;font-size:10pt">
        Thank you for contacting the CLOUDERAC Support team. This message is to confirm that we have resolved and closed your ticket <b>{ticketNo}</b>. <br /><br />
        Please let us know if you have any further questions or issues.<br /><br />       

        ---<br />

        Team Clouderac,<br />
        http://www.clouderac.com
    </span>
</body>
</html>